
{% extends 'base.html' %}


{% block page_title %}
Register
{% endblock page_title %}

{% block content %}
{% load crispy_forms_tags %}     

{% if request.user.is_authenticated == False%}


<!--Register--> 
<div class="container py-5" style="max-width: 55%; min-width: 55%;">
	<h1>Register</h1>
	<form method="POST">
		{% csrf_token %}
		{{ register_form|crispy }} 
		
		<div align="center" style="margin-top: 30px; margin-bottom: 30px;">
		
			<button class="btn btn-primary" type="submit" style="width: 100%; padding: 1rem;" >Register</button>
		
		</div>

	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> instead.</p>
</div>

{% else  %}

<div align="center" style="margin-top: 30px; margin-bottom: 30px;">
<h1>You are already registred!</h1>
</div>

{% endif %}

{% endblock content %}

