
{% extends 'base.html' %}


{% block page_title %}
Phones and Accessories
{% endblock page_title %}

{% block content %}
{% load static %}
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css'%}"/> {% endcomment %}
<h1>Mobile Shop</h1>

{% comment %} <ul>
    <li><a href="{% url 'index' %}">Home</a></li>
    <li><a href="{% url 'phones'%}">Phones</a></li>
    <li><a href="">Accessories</a></li>
    <li><a href="">Advice</a></li>
</ul> {% endcomment %}

{% endblock content %}

